.details-container {
  margin-top: 4rem;
  margin-left: 6rem;

  .details-row {
    display: flex;

    .image-container {
      border-radius: 15px;
      background-color: #ebebeb;
      width: 400px;
      height: 400px;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 370px;
        transition: 0.4s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }

      &:hover {
        background-color: #ff5733;
      }
    }

    .small-images-container {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      img {
        width: 500px;
      }
      .small-image {
        border-radius: 8px;
        background-color: #ebebeb;
        width: 80px;
        height: 80px;
        cursor: pointer;
      }
      .selected-image {
        background-color: #f02d34;
      }
    }

    .desc-container {
      margin-top: 0.5rem;
      margin-left: 2rem;

      h1 {
        color: #324d67;
        margin-bottom: 1rem;
      }

      .reviews {
        margin-bottom: 1rem;

        input[type="radio"] {
          display: none;
        }

        svg {
          cursor: pointer;
          font-size: 19px;
        }
      }

      .details {
        margin-bottom: 1.5rem;
        h4 {
          color: #324d67;
          margin-bottom: 0.7rem;
        }
      }

      .price {
        margin-bottom: 1.5rem;

        h4 {
          color: #324d67;
          margin-bottom: 0.7rem;
        }

        h2 {
          color: #ff5733;
        }
      }

      .quantity {
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          font-size: 18px;
          padding: 9px 15px;
          cursor: pointer;
        }

        h3 {
          color: #324d67;
        }

        .quantity-desc {
          border: 1px solid gray;
          display: flex;
          align-items: center;

          .minus {
            border-right: 1px solid gray;
            color: #f02d34;
          }

          .plus {
            border-left: 1px solid gray;
            color: #31a831;
          }
        }
      }
      .buttons {
        display: flex;
        gap: 30px;

        button {
          padding: 10px 20px;
          margin-top: 40px;
          font-size: 18px;
          cursor: pointer;
          width: 200px;
          transition: transform 0.5s ease;
          border: none;

          &:hover {
            transform: scale(1.1);
          }
        }

        .add-to-cart {
          border: 1px solid #f02d34;
          background-color: #fff;
          color: #f02d34;
        }

        .buy-now {
          background-color: #f02d34;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .details-container {
    margin-top: 4rem;
    margin-left: 0rem;

    .details-row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 94%;
      margin: auto;

      .image-container {
        border-radius: 15px;
        background-color: #ebebeb;
        width: 340px;
        height: 400px;
        margin: auto;
        cursor: pointer;
        transition: 0.4s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: 370px;
          transition: 0.4s ease-in-out;

          &:hover {
            transform: scale(1);
          }
        }

        &:hover {
          background-color: #ff5733;
        }
      }

      .small-images-container {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        img {
          width: 500px;
        }
        .small-image {
          border-radius: 8px;
          background-color: #ebebeb;
          width: 80px;
          height: 80px;
          cursor: pointer;
        }
        .selected-image {
          background-color: #f02d34;
        }
      }

      .desc-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 3rem;
        margin-left: 0rem;

        h1 {
          color: #324d67;
          margin-bottom: 1rem;
        }

        .reviews {
          display: flex;
          align-items: center;
          margin-bottom: 1.5rem;

          svg {
            color: #ff5733;
          }
          p {
            margin-left: 0.5rem;
          }
        }

        .details {
          margin-bottom: 1.5rem;
          text-align: center;
          h4 {
            color: #324d67;
            margin-bottom: 0.7rem;
          }
          p {
            width: 330px;
          }
        }

        .price {
          margin-bottom: 1.5rem;

          h4 {
            color: #324d67;
            margin-bottom: 0.7rem;
          }

          h2 {
            color: #ff5733;
          }
        }

        .quantity {
          display: flex;
          align-items: center;
          gap: 20px;

          span {
            font-size: 18px;
            padding: 9px 15px;
            cursor: pointer;
          }

          h3 {
            color: #324d67;
          }

          .quantity-desc {
            border: 1px solid gray;
            display: flex;
            align-items: center;

            .minus {
              border-right: 1px solid gray;
              color: #f02d34;
            }

            .plus {
              border-left: 1px solid gray;
              color: #31a831;
            }
          }
        }
        .buttons {
          display: flex;
          gap: 30px;

          button {
            padding: 10px 20px;
            margin-top: 40px;
            font-size: 18px;
            cursor: pointer;
            width: 150px;
            transition: transform 0.5s ease;
            border: none;

            &:hover {
              transform: scale(1);
            }
          }

          .add-to-cart {
            border: 1px solid #f02d34;
            background-color: #fff;
            color: #f02d34;
          }

          .buy-now {
            background-color: #f02d34;
            color: #fff;
          }
        }
      }
    }
  }
}
